<div class="col-xs-4 col-sm-3" style='margin-bottom: 30px;'>
  <div class="section">
    <div class="pic" style='height: 155px'>
      <%= link_to directory_path(item.slug) do %>
        <% if item.logo_url.present? %>
          <%= image_tag item.logo_url, alt: item.name, with: '100', class:'img-responsive', style: "background-color: #{item.logo_background_color if item.logo_background_color.present?};" %>
        <% else %>
          <img src='<%= "#{ENV['S3']}#{item.slug}.png" %>', width= "102", class='img-responsive', alt='<%= item.name %>' >
        <% end %>
        <div class='text-center'>
          <%= item.name %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if (item_counter + 1) % 4 == 0 %>
   <div class="clearfix"></div>
<% elsif (item_counter + 1) % 3 == 0 %>
  <div class="clearfix visible-xs"></div>
<% end %>

