<% title = @item.name %>
<%= render 'shared/page_header', title: title, home: false %>

<div class='container' >
  <div class='col-sm-4'>
    <table style="width:60%">
      <tr>
        <td>
          <div class="section">
            <div class="pic" style='min-height: 100px;  min-width: 130px;'>
              <% if @item.logo_url.present? %>
                <%= image_tag @item.logo_url, alt: @item.name, class:'img-responsive', style: "background-color: #{@item.logo_background_color if @item.logo_background_color.present?};" %>
              <% else %>
                <img src='<%= "#{ENV['S3']}#{@item.slug}.png" %>', width= "102", class='img-responsive', alt='<%= @item.name %>' >
              <% end %>
            </div>
          </div>
        </td>
      </tr>
    </table>
  
    <h3><%= title %></h3>
    <br/>
    <%= link_to 'Back to Directory', '/directory', data: { no_turbolink: true } %>
  </div>
  <div class='col-sm-8'>

    <% if @item.description.present? %>
      <h5 style='line-height: 200%;'>
        <%= @item.description.html_safe %>
      </h5>
      <br/>
    <% end %>

    <% if @item.raml_url.present? %>
      <br/>    
      <div>
        <div class= 'col-sm-3'>
          <%= image_tag 'logos/raml.png' %>
        </div>
        
        <div class= 'col-sm-9'>
          <div class= 'col-sm-3'>
            <strong>RAML:&nbsp;</strong><br />
            <div style='padding-top: 10px;'><%= link_to 'Spec', @item.raml_url %></div>
          </div>
          <div class= 'col-sm-9'>
            <br />
            <table>
              <% if @item.raml_id.present? && false %>
              <tr>
                <td> <%= link_to 'RAML Console supplied by', "http://console.cenithub.com/?id=#{@item.raml_id}" %></td>
                <td>&nbsp;&nbsp;
                  <%= link_to "http://console.cenithub.com/?id=#{@item.raml_id}" do %>
                    <%= image_tag 'logo_cenitsaas_web.png', style: 'height: 30px;' %>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </table>
          </div>
          <br /><br /><br /><br /><br />
        </div>
      </div>
      <br/><br/> 
    <% end %>

    <% if @item.swagger_json_url.present? %> 
      <div>
        <div class= 'col-sm-3', style='padding-left: 35px;'>
          <%= image_tag 'logos/swagger.jpg' %>
        </div>
        <div class= 'col-sm-9'>
          <div class= 'col-sm-3'>
            <strong>Swagger:&nbsp;</strong><br />
            <div style='padding-top: 10px;'><%= link_to 'Json Spec', @item.swagger_json_url %></div>
            <div><%= link_to 'Yaml Spec', @item.swagger_yaml_url %></div>
          </div>
          <div class= 'col-sm-9'>
            <table>
              <tr>
                <td><%= link_to 'API specs supplied by', 'https://github.com/APIs-guru/api-models' %></td>
                <td> &nbsp;&nbsp;
                  <%= link_to 'https://github.com/APIs-guru/api-models' do %>
                    <%= image_tag 'logos/guru.svg', style: 'height: 50px;' %>
                  <% end %>
                </td>
              </tr>
              <% if @item.swagger_ui_url.present? %>
              <tr>
                <td> <%= link_to 'API Console supplied by', @item.swagger_ui_url %></td>
                <td>&nbsp;&nbsp;
                  <%= link_to @item.swagger_ui_url do %>
                    <%= image_tag 'logos/any_api.png', style: 'height: 30px;' %>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </table>
          </div>
          <br /><br /><br /><br /><br />
        </div>
      </div>
      <br/><br/>  
    <% end %>

    <% if @item.preferred.present? %>
      <p>
        <strong>Version:&nbsp;</strong>
        <%= @item.preferred %>
      </p>
    <% end %>

    <% if @item.provider_name.present? %>
      <p>
        <strong>Provider Name:&nbsp;</strong>
        <%= @item.provider_name %>
      </p>
    <% end %>
    
    <% if @item.api_provider.present? %>
      <p>
        <strong>API Provider:&nbsp;</strong>
        <%= link_to @item.api_provider, @item.api_provider %>
      </p>
    <% end %>
    
    <% if false && @item.api_homepage.present? %>
      <p>
        <strong>API Homepage:&nbsp;</strong>
        <%= @item.api_homepage %>
      </p>
    <% end %>
  
    <% if @item.primary_category.present? %>
      <p>
        <strong>Primary Category:&nbsp;</strong>
        <%= link_to @item.primary_category.name.titleize, directory_index_path(tag: @item.primary_category.name), data: { no_turbolink: true } %>
      </p>
    <% end %>
    
    <% if @item.tags.size > 1 %>
      <p>
        <strong>Tags:&nbsp;</strong>
        <% @item.tags.each do |tag| %>
          <%= link_to tag.name.titleize, directory_index_path(tag: tag.name), data: { no_turbolink: true } %>&nbsp;&nbsp;&nbsp; 
        <% end %>
      </p>
    <% end %>
    
  </div>
  
  <div class="clearfix visible-xs"></div>
  <div id="grid-first" class='col-sm-12'>
    <div class="container">
      <br/><br/>

      <div class="row header">
        <h3>Need an easy way to connect your business with <%= link_to @item.name, @item.api_provider || @item.api_homepage || '#' %>?</h3>
        <p>cenit.io is the perfect tool to help you out. <a data-toggle="modal"  class="item" href="#contact_us" data-backdrop="false">Get in touch</a> </p>
        <br/><br/>
      </div>

      <div class='col-sm-offset-4'>
        <table style="width:60%">
          <tr>
            <td>
              <div class="section">
                <div class="pic" style='height: 100px;  width: 150px;'>
                  <%= link_to root_path, data: { no_turbolink: true } do %>
                    <%= image_tag 'logo_cenitsaas_web.png', style: 'height: 60px;' %>
                  <% end %>
                </div>
              </div>
            </td>
            <td><%= image_tag 'arrow.png',  style: 'height: 60px;margin: 20px;' %></td> 
            <td>
              <div class="section">
                <div class="pic" style='min-height: 100px;  min-width: 130px; max-width: 90%;'>
                  <% if @item.logo_url.present? %>
                    <%= image_tag @item.logo_url, alt: @item.name, class:'img-responsive', style: "background-color: #{@item.logo_background_color if @item.logo_background_color.present?};" %>
                  <% else %>
                    <img src='<%= "#{ENV['S3']}#{@item.slug}.png" %>', width= "102", class='img-responsive', alt='<%= @item.name %>' >
                  <% end %>
                </div>
              </div>

            </td>
          </tr>
        </table>
      </div>

      <%= render partial: 'shared/sign_up_for_free', locals: {link: :hub } %>
      <br/>
    </div>
  </div>
  
</div>
