<% title = @item.name %>
<%= render 'shared/page_header', title: title, home: false %>

<div class='container'>
  <div class='col-sm-4'>
    <img src='<%= "#{ENV['S3']}#{@item.slug}.png" %>', width= "102", class='img-responsive', alt='<%= @item.name %>' >
    <h3><%= title %></h3>
    <br/>
    <%= link_to 'Back to Directory', '/directory' %>
  </div>
  <div class='col-sm-8'>
    
    <p id="notice"><%= notice %></p>

    <% if @item.description.present? %>
      <h4>
        <%= @item.description %>
      </h4>
    <% end %>
    
    
    <% if @item.raml_github_url.present? %>
      <br/>    
      <div>
        <div class= 'col-sm-3'>
          <%= image_tag 'logos/raml.png' %>
        </div>
        <strong>RAML:</strong>
        <p>
          <%= link_to 'github specification', @item.raml_github_url %> 
        </p>
        <% if false && @item.raml_id.present? %>
          <p>
            <%= link_to 'API Console', "http://console.cenithub.com/?id=#{@item.raml_id}" %> 
          </p>
        <% end %>
      </div>
      <br/><br/> 
    <% end %>

    <% if @item.swagger_github_url.present? %> 
      <div>
        <div class= 'col-sm-3'>
          <%= image_tag 'logos/swagger.jpg' %>
        </div>
        <strong>Swagger:</strong>
        <p>
          <%= link_to 'github specification', @item.swagger_github_url %> 
          <%= link_to 'https://github.com/APIs-guru/api-models' , class: 'col-sm-offset-1' do %>
            API specs supplied by <%= image_tag 'logos/guru.svg', style: 'height: 50px;' %>
          <% end %>
        </p>
      </div>
      <br/><br/>  
    <% end %>

    <% if @item.api_provider.present? && @item.tags.size > 1 %>
      <p>
        <strong>API Provider:</strong>
        <%= link_to @item.api_provider, @item.api_provider %>
      </p>
    <% end %>
  
    <% if @item.primary_category.present? %>
      <p>
        <strong>Primary Category:</strong>
        <%= link_to @item.primary_category.titleize, directory_index_path(tag: @item.primary_category) %>
      </p>
    <% end %>
    
    <% if @item.tags.any? %>
      <p>
        <strong>Tags:&nbsp;</strong>
        <% @item.tags.each do |tag| %>
          <%= link_to tag.name.titleize, directory_index_path(tag: tag.name) %>&nbsp;
        <% end %>
      </p>
    <% end %>

  </div>
</div>
