<div id="grid-first">
  <div class="container">

    <div class="row header">
      <h3>Supports different conversion and transformation files </h3>
      <p>
        Any to any translator, use the format you want.
      </p>
    </div>

    <div class="row sections">
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'file-icons/doc.png',:class => 'img-responsive', :alt => 'doc', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'file-icons/pdf.png',:class => 'img-responsive', :alt => 'pdf', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'file-icons/xml.png',:class => 'img-responsive', :alt => 'xml', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'file-icons/js.png',:class => 'img-responsive', :alt => 'js', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'file-icons/gif.png',:class => 'img-responsive', :alt => 'gif', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'file-icons/avi.png',:class => 'img-responsive', :alt => 'avi', width: "102", height: "71" %>
          </div>
        </div>
      </div>
    </div>

    <div class="row sections">
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'file-icons/png.png',:class => 'img-responsive', :alt => 'png', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'file-icons/ppt.png',:class => 'img-responsive', :alt => 'ppt', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'file-icons/txt.png',:class => 'img-responsive', :alt => 'txt', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'file-icons/zip.png',:class => 'img-responsive', :alt => 'zip', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'file-icons/xls.png',:class => 'img-responsive', :alt => 'xls', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'file-icons/css.png',:class => 'img-responsive', :alt => 'css', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      
    </div>
    
    <div class="row sections">
  
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'file-icons/wav.png',:class => 'img-responsive', :alt => 'wav', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'file-icons/yml.png',:class => 'img-responsive', :alt => 'yml', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'file-icons/dat.png',:class => 'img-responsive', :alt => 'dat', width: "102", height: "71" %>
          </div>
        </div>
      </div>      
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'file-icons/eps.png',:class => 'img-responsive', :alt => 'eps', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'file-icons/odt.png',:class => 'img-responsive', :alt => 'odt', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'file-icons/psd.png',:class => 'img-responsive', :alt => 'psd', width: "102", height: "71" %>
          </div>
        </div>
      </div>

    </div>
    
    <div class="row sections">
  
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'file-icons/ott.png',:class => 'img-responsive', :alt => 'ott', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'file-icons/dxf.png',:class => 'img-responsive', :alt => 'dxf', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'file-icons/tiff.png',:class => 'img-responsive', :alt => 'tiff', width: "102", height: "71" %>
          </div>
        </div>
      </div>      
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'file-icons/dotx.png',:class => 'img-responsive', :alt => 'dotx', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'file-icons/aiff.png',:class => 'img-responsive', :alt => 'aiff', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'file-icons/sass.png',:class => 'img-responsive', :alt => 'sass', width: "102", height: "71" %>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
