<div id='features' class="container text-center">
  <div id="second-option">
    <% unless params[:controller] == 'hub' %>
      <div class="row header">
        <h2>Open Source Hub for Data and Business Integrations</h2>
      </div>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="col-md-4 feature">
          <%= image_tag 'circle-icons/one-color/traffic.png', :alt => 'globe' %>
          <strong>A rich Router logic </strong>
          <p>Can upload your documents and make custom Flows to redirect and transform messages from Hub to severals endpoints.</p>
        </div>
        <div class="col-md-4 feature">
          <%= image_tag 'circle-icons/one-color/stack.png', :alt => 'creditcard' %>
          <strong>Support multiple kind of Schemas </strong>
           <p>Does registrations with Json Schema, XML Schema or EDI Grammar: ASC X12, EDIFACT, etc. That allow exchange different kind of documents and validate with schemas.</p>
        </div>
      
        <div class="col-md-4 feature">
          <%= image_tag 'circle-icons/one-color/globe.png', :alt => 'dev' %>
          <strong>Third party service integrations</strong>
          <p>Connection out of the box with many third party service:  ERP / CRM / Fulfilment / Accounting / Customer Services / Payment Processing / Marketing / Communication ... </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 feature">
          <%= image_tag 'circle-icons/one-color/trends.png', :alt => 'support' %>
          <strong>Commerce Data</strong>
          <p>Process objects that are Data representation of real-world commerce information such as Customers, Orders, Shipments, Products, Payments, ...</p>
        </div> 
        <div class="col-md-4 feature">
          <%= image_tag 'circle-icons/one-color/unlocked.png', :alt => 'mail' %>
          <strong>Free account </strong>
          <p>Tenant without limit in use, complete access to configuration Setup and 5 GB space. Only pay a $0.5 fee by successful commercial transactions.</p>
        </div>
        <div class="col-md-4 feature">
          <%= image_tag 'circle-icons/one-color/support.png', :alt => 'locked' %>
          <strong>Community friendly</strong>
          <p>100% Open Source Code. Available on <%= link_to 'github', 'https://github.com/openjaf/cenit' %> to grow together in community. Social approach for sharing collections available to any user. </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/splitter' %>

<div id="grid-first">
  <div class="container">
    <div class="row header">
      <h3>Powerful transformation tools for data manipulation</h3>
      <p>
        Importing | Updating | Converting | Exporting
      </p>
    </div>
  <%= image_tag 'flow.png',:class => 'img-responsive', :alt => 'flow'%>
  </div>
</div>