<nav class="nav-menu">
  <h3>Menu</h3>
  <%= link_to 'Data Integration', "#{root_path}#features", :class => 'item' %>
  <%= link_to 'Plans', "#{root_path}#pricing", :class => 'item' %>
  <%= link_to 'Workspace', "#{root_path}#services", :class => 'item' %>
  <%if current_user%>
    <%= link_to 'Profile', status_path(current_user.id), :class => 'item' %>
  <%end%>
  <%if current_user && current_user.has_role?(:admin) %>
    <%= link_to 'Applications', 'oauth/applications' %>
    <%= link_to 'Rails Admin', '/data' %>
<% end  %>
  <a data-toggle="modal"  class="item" href="#contact_us" data-backdrop="false">Contact Us</a>

  <div class="social">
    <a href="https://github.com/openjaf/cenit">
      <%=image_tag 'social/github-sociocon.png',:alt=>'github' %>
    </a>
  </div>
</nav>
