<div id="hero" class="<%= home ? '' : 'hub' %>">
  <div id="<%= home ? "cover-image" : '' %>"  class="animated fadeIn">
    <div class="container">
      <h1 class="hero-text animated fadeIn"><%= title %></h1>
      <% if home %>
         <div class="cta animated fadeIn">
          <% if user_signed_in? %>
           <% if (cenit_app = Doorkeeper::Application.where(name: 'Cenit').first).present? %>
             <%= link_to "Data Integrator", cenithub_url(cenit_app), class: 'button' %>
           <% end %>
           <% if (odoo_app = Doorkeeper::Application.where(name: 'odoo').first).present? %>
             <%= link_to "ERP & CRM", cenitodoo_url(current_user, odoo_app), class: 'button' %>
           <% end %>
          <% else %>
            <%= link_to 'Data Integrator', new_user_registration_path, class: 'button', id: 'button_hub_logout'  %>
            <%= link_to 'ERP & CRM', new_user_registration_path, class: 'button', id: 'button_erp_logout' %>
          <% end %>
        </div>
        
        <div id="home">
          <div id="slider">
            <div class="slide-wrapper">
              <div class="slideshow">
                <div class="btn-nav prev"></div>
                <div class="btn-nav next"></div>
                <div class="slide active">
                  <%= image_tag 'screenshots/cenithub-admin.png', :alt => 'CenitHub Admin', style: "width: 700px; height: 360px;" %>
                </div>
                <div class="slide">
                  <%= image_tag 'screenshots/cenithub-flows.png', :alt => 'CenitHub Flows', style: "width: 700px; height: 360px;" %>
                </div>
                <div class="slide">
                  <%= image_tag 'screenshots/cenithub-shared.png', :alt => 'CenitHub Shared Collections', style: "width: 700px; height: 360px;" %>
                </div>
                <div class="slide">
                  <%= image_tag 'screenshots/cenithub-translators.png', :alt => 'CenitHub Translators', style: "width: 700px; height: 360px;" %>
                </div>
                
              </div>
            </div>  
          </div>
        </div>
        

      <% end %>
    </div>
  </div>
</div>

<script>
    $(function () {

      // triggers the off-canvas panel
      $(".sidebar-toggle").click(function (e) {
        e.stopPropagation();
        $(".st-container").toggleClass("nav-effect");
      });
      $(".st-pusher").click(function () {
        $(".st-container").removeClass("nav-effect");
      });
      
      $("#button_hub_logout").hover(
        function() {
          $( this )[0].text = 'Go to CenitHub'
        }, function() {
          $( this )[0].text = 'Data Integrator'
        }
      );
      
      $("#button_erp_logout").hover(
        function() {
          $( this )[0].text = 'Go to Odoo'
        }, function() {
          $( this )[0].text = 'ERP & CRM'
        }
      );

      // parallax header
      $('#cover-image').css("background-position", "50% 50%");
      $(window).scroll(function() {
        var scroll = $(window).scrollTop(),
          slowScroll = scroll/4,
          slowBg = 50 - slowScroll;
        $('#cover-image').css("background-position", "50% " + slowBg + "%");
      });

      $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var recipient = button.data('whatever'); // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this);
        modal.find('.modal-title').text('New message to ' + recipient);
        modal.find('.modal-body input').val(recipient);
      });

    });
</script>