<div id="hero" class="<%= home ? '' : 'hub' %>">
  <div id="<%= home ? "cover-image" : '' %>"  class="animated fadeIn">
    <div class="container">
      <h1 class="hero-text animated fadeIn"><%= title %></h1>
      <% if home %>
         <div class="cta animated fadeIn">
          <% if current_user.present? %>
           <% if app = Doorkeeper::Application.find_by(name: 'Cenit') %>
             <% options = { client_id: app.uid, redirect_uri: app.redirect_uri.split.first, response_type: 'code'} %>
             <%= link_to "Data Integrator",generate_url("/oauth/authorize", options), class: 'button' %>
           <% end %>
           <%= link_to "ERP & CRM", open_workspace(current_user), class: 'button' %>
           <%= link_to "Sign out", destroy_user_session_path, class: 'demo' %>
          <% else %>
            <a href='#sing_up', class='button sing_up_top'>Data Integrator</a>
            <a href='#sing_up', class='button sing_up_top'>ERP & CRM</a>
            <a id='sing_in_top' href='#sing_in' class="demo">Sign in</a>
          <% end %>
        </div>
        <div class="screenshot animated fadeInUp">
          <%= image_tag 'ss2.png',:class => 'img-responsive', :alt => 'screenshot' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
    $(function () {
      
      $("#sing_in_button").click(function (e) {
         $("#sing_in_form").show();
         $("#sing_up_form").hide();
      });
      
      $("#sing_in_top").click(function (e) {
         $("#sing_in_form").show();
         $("#sing_up_form").hide();
      });
      
      $("#sing_up_button").click(function (e) {
         $("#sing_in_form").hide();
         $("#sing_up_form").show();
      });
      
      $(".sing_up_top").click(function (e) {
         $("#sing_in_form").hide();
         $("#sing_up_form").show();
      });

        // triggers the off-canvas panel
        $(".sidebar-toggle").click(function (e) {
            e.stopPropagation();
            $(".st-container").toggleClass("nav-effect");
        });
        $(".st-pusher").click(function () {
            $(".st-container").removeClass("nav-effect");
        });

        // parallax header
        $('#cover-image').css("background-position", "50% 50%");
        $(window).scroll(function() {
            var scroll = $(window).scrollTop(),
                    slowScroll = scroll/4,
                    slowBg = 50 - slowScroll;

            $('#cover-image').css("background-position", "50% " + slowBg + "%");
        
        });
        
        $('#exampleModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget); // Button that triggered the modal
          var recipient = button.data('whatever'); // Extract info from data-* attributes
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          var modal = $(this);
          modal.find('.modal-title').text('New message to ' + recipient);
          modal.find('.modal-body input').val(recipient);
        });
        
        
    });
</script>