<div id="grid-first">
  <div class="container">

    <div class="row header">
      <h3>Need an easy way to connect your business with <%= link_to 'Public APIs', '/directory', data: { no_turbolink: true } %>?</h3>
      <p>
        CenitSaaS is the perfect tool to help you out. <a data-toggle="modal"  class="item" href="#contact_us" data-backdrop="false"> Get in touch</a>
      </p>
      <br/>
      <div class='col-md-offset-2 col-md-8 centered'>
        <%= form_tag('/directory', method: :get) do %>
          <%= text_field_tag "name", @name, placeholder: "Search 900+ APPs",  class: "form-control" %>
        <% end %>
      </div>
    </div>

    <div class="row sections">
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/amazon.png',:class => 'img-responsive', :alt => 'amazon', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/bronto.png',:class => 'img-responsive', :alt => 'bronto', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/desk.png',:class => 'img-responsive', :alt => 'desk', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/quickbooks.png',:class => 'img-responsive', :alt => 'quickbooks', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/netsuite.png',:class => 'img-responsive', :alt => 'netsuite', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/mailchimp.png',:class => 'img-responsive', :alt => 'mailchimp', width: "102", height: "71" %>
          </div>
        </div>
      </div>
    </div>

    <div class="row sections">
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/shipstation.png',:class => 'img-responsive', :alt => 'shipstation', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/exact_target.png',:class => 'img-responsive', :alt => 'exact_target', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/jirafe.png',:class => 'img-responsive', :alt => 'jirafe', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/ql.png',:class => 'img-responsive', :alt => 'ql', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/mandrill.png',:class => 'img-responsive', :alt => 'mandrill', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/sf.png',:class => 'img-responsive', :alt => 'sf', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      
    </div>
    
    <div class="row sections">
  
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/shipwire.png',:class => 'img-responsive', :alt => 'shipwire', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/zendesk.png',:class => 'img-responsive', :alt => 'zendesk', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/ebay.jpg',:class => 'img-responsive', :alt => 'ebay', width: "102", height: "71" %>
          </div>
        </div>
      </div>      
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/odoo.png',:class => 'img-responsive', :alt => 'odoo', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/aftership.png',:class => 'img-responsive', :alt => 'aftership', width: "102", height: "71" %>
          </div>
        </div>
      </div>
      
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/square.png',:class => 'img-responsive', :alt => 'square', width: "102", height: "71" %>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
