<div id="grid-first">
  <div class="container">

    <div class="row header">
      <h3>Need an easy way to connect internet services?</h3>
      <p>
        Cenit is the perfect tool for help you.
      </p>
    </div>

    <div class="row sections">
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/amazon.png',:class => 'img-responsive', :alt => 'amazon' %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/bronto.png',:class => 'img-responsive', :alt => 'bronto' %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/desk.png',:class => 'img-responsive', :alt => 'desk' %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/quickbooks.png',:class => 'img-responsive', :alt => 'quickbooks' %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/netsuite.png',:class => 'img-responsive', :alt => 'netsuite' %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/mailchimp.png',:class => 'img-responsive', :alt => 'mailchimp' %>
          </div>
        </div>
      </div>
    </div>

    <div class="row sections">
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/shipstation.png',:class => 'img-responsive', :alt => 'shipstation' %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/exact_target.png',:class => 'img-responsive', :alt => 'exact_target' %>
          </div>
        </div>
      </div>
      
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/jirafe.png',:class => 'img-responsive', :alt => 'jirafe' %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/ql.png',:class => 'img-responsive', :alt => 'ql' %>
          </div>
        </div>
      </div>
      
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/mandrill.png',:class => 'img-responsive', :alt => 'mandrill' %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/sf.png',:class => 'img-responsive', :alt => 'sf' %>
          </div>
        </div>
      </div>
      
    </div>
    
    <div class="row sections">
  
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/shipwire.png',:class => 'img-responsive', :alt => 'shipwire' %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/zendesk.png',:class => 'img-responsive', :alt => 'zendesk' %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/ebay.jpg',:class => 'img-responsive', :alt => 'ebay' %>
          </div>
        </div>
      </div>      
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/odoo.png',:class => 'img-responsive', :alt => 'odoo' %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/aftership.png',:class => 'img-responsive', :alt => 'aftership' %>
          </div>
        </div>
      </div>
      
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/square.png',:class => 'img-responsive', :alt => 'square' %>
          </div>
        </div>
      </div>

    </div>
    
    <div class="row sections">
  
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/shipwire.png',:class => 'img-responsive', :alt => 'shipwire' %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/zendesk.png',:class => 'img-responsive', :alt => 'zendesk' %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/ebay.jpg',:class => 'img-responsive', :alt => 'ebay' %>
          </div>
        </div>
      </div>      
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/odoo.png',:class => 'img-responsive', :alt => 'odoo' %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/aftership.png',:class => 'img-responsive', :alt => 'aftership' %>
          </div>
        </div>
      </div>
      
      <div class="col-md-2">
        <div class="section">
          <div class="pic">
            <%= image_tag 'integrations/square.png',:class => 'img-responsive', :alt => 'square' %>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>