<div class="st-container">
  
  <%= render 'shared/menu' %>
  
<div class="st-pusher">
<div class="st-content">

<header class="navbar navbar-inverse hero" role="banner">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Cenit Hub', root_path , :class => 'navbar-brand' %>
    </div>
    <div class="sidebar-toggle">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
</header>

<div id="hero">
  <div id="cover-image" class="animated fadeIn">
    <div class="container">
      <h1 class="hero-text animated fadeIn">Open source data integrator for commerce applications.</h1>
      <div class="cta animated fadeIn">
        <% if current_user.present? %>

         <% app = Doorkeeper::Application.find_by(name: 'Cenit') %>
         <% options = { client_id: app.uid, redirect_uri: app.redirect_uri.split.first, response_type: 'code'} %>
         <%= link_to "Go Data",generate_url("/oauth/authorize", options), class: 'demo'%>
          
         <%= link_to "Sign out", destroy_user_session_path, class: 'demo' %>
        <% else %>
          <a id='sing_up_button' href='#sing_up', class='button'>Sing up free</a>
          <a id='sing_in_button' href='#sing_in' class="demo">Sign in here</a>
        <% end %>
      </div>
      <div class="screenshot animated fadeInUp">
        <%= image_tag 'ss2.png',:class => 'img-responsive', :alt => 'screenshot' %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/features' %>
<%= render 'shared/services' %>


<br><br><br>
<% unless current_user.present? %>
  <% resource ||= User.new %>
  <div id="sing_up_form">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <div class="form-wrapper" >
            <h4>Ready to start? Create your free account now</h4>
            <% flash.each do |key, message| %>
              <div class="notice"><%= message %></div>
            <% end %>
            
            <%= form_for resource, as: :user, url: registration_path(:user), remote: true, html: { role: 'form', class: 'form-inline'} do |f| %>
              <div class="form-group">
                <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
              </div>
              <div class="form-group">
                <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password Confirmation' %>
              </div>

              <%= f.submit 'Sign Up',:class => 'button button-small' %>
              <a name='sing_up'></a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="sing_in_form" style='display:none'>
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <div class="form-wrapper" >
            <h4>Enter in your account now</h4>
            <% flash.each do |key, message| %>
              <div class="notice"><%= message %></div>
            <% end %>
            <%= form_for resource, as: :user, url: session_path(:user), remote: true, html:  { role: 'form', class: 'form-inline'} do |f| %>
              <div class="form-group">
                <%= f.email_field :email, class: 'form-control', :placeholder => 'Email' %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, class: 'form-control', :placeholder => 'Password' %>
              </div>

              <%= f.submit 'Sign In',:class => 'button button-small' %>
              <a name='sing_in'></a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>

<div id="footer">
  <%= render 'layouts/footer' %>
</div>

</div><!-- end .st-content -->
</div><!-- end .st-pusher -->
</div><!-- end .st-container -->


<script>
    $(function () {
      
        $("#sing_in_button").click(function (e) {
           $("#sing_in_button").addClass('button');
           $("#sing_up_button").addClass('demo').removeClass( 'button' )
           
           $("#sing_up_form").css({"display":'none'});
           $("#sing_in_form").css({"display":"block"});
           //$(this).css({"display":"block"});
           
        });
        
        $("#sing_up_button").click(function (e) {
           $("#sing_up_button").addClass('button');
           $("#sing_in_button").addClass('demo').removeClass( 'button' )
           
           $("#sing_in_form").css({"display":'none'});
           $("#sing_up_form").css({"display":"block"});
        });
      
      
        // triggers the off-canvas panel
        $(".sidebar-toggle").click(function (e) {
            e.stopPropagation();
            $(".st-container").toggleClass("nav-effect");
        });
        $(".st-pusher").click(function () {
            $(".st-container").removeClass("nav-effect");
        });

        // parallax header
        $('#cover-image').css("background-position", "50% 50%");
        $(window).scroll(function() {
            var scroll = $(window).scrollTop(),
                    slowScroll = scroll/4,
                    slowBg = 50 - slowScroll;

            $('#cover-image').css("background-position", "50% " + slowBg + "%");
        });
    });
</script>