<div id="info">
  <div class="container">
    <div class="row">
      <div class="col-md-8 message">
        <h3>Send us a message</h3>
        <p>
          You can contact us with anything related to React. <br/> We'll get in touch with you as soon as possible.
        </p>
        <%= form_for @contact, :url => contacts_path, :html => {:class => 'formtastic contact-form', :role=>"form", :id=>"contact-form"} do |f| %>
            <% if ContactUs.require_name %>
                <div class='string required form-group' id='contact_us_contact_name_input'>
                  <%= f.label :name, (t('.name') + content_tag(:abbr, '*', :class => 'required')).html_safe %>
                  <%= f.text_field :name, :class => 'form-control'%>
                  <% if f.object.errors[:name].present? %>
                      <p class='inline-error'><%= f.object.errors[:name].join(' and ') %></p>
                  <% end %>
                </div>
            <% end %>
            <div class='string required form-group' id='contact_us_contact_email_input'>
              <%= f.label :email, (t('.email') + content_tag(:abbr, '*', :class => 'required')).html_safe %>
              <%= f.text_field :email, :class => 'form-control'%>
              <% if f.object.errors[:email].present? %>
                  <p class='inline-error'><%= f.object.errors[:email].join(' and ') %></p>
              <% end %>
            </div>
            <% if ContactUs.require_subject %>
                <div class='string required form-group' id='contact_us_contact_subject_input'>
                  <%= f.label :subject, (t('.subject') + content_tag(:abbr, '*', :class => 'required')).html_safe %>
                  <%= f.text_field :subject, :class => 'form-control' %>
                  <% if f.object.errors[:subject].present? %>
                      <p class='inline-error'><%= f.object.errors[:subject].join(' and ') %></p>
                  <% end %>
                </div>
            <% end %>
            <div class='text required form-group' id='contact_us_contact_message_input'>
              <%= f.label :message, (t('.message') + content_tag(:abbr, '*', :class => 'required')).html_safe %>
              <%= f.text_area :message, :class => 'form-control' %>
              <% if f.object.errors[:message].present? %>
                  <p class='inline-error'><%= f.object.errors[:message].join(' and ') %></p>
              <% end %>
            </div>
            <div class='commit'>
              <%= f.submit :submit, :class => 'submit create button button-small', :value => t('email_us') %>
            </div>
        <% end %>

      </div>
      <div class="col-md-4 contact">
        <div class="address">
          <h3>Our Address</h3>
          <p>
            The Old Road Willington, <br />
            7 Kings Road, <br />
            Southshore, 64890
          </p>
        </div>
        <div class="phone">
          <h3>By Phone</h3>
          <p>
            1-800-346-3344
          </p>
        </div>
        <div class="online-support">
          <strong>Looking for online support?</strong>
          <p>
            Talk to us now with our online chat
          </p>
        </div>
        <div class="social">
          <a href="#" class="fb"><img src="images/social/fb.png" alt="facebook" /></a>
          <a href="#" class="tw"><img src="images/social/tw.png" alt="twitter" /></a>
        </div>
      </div>
    </div>
  </div>
</div>
