<% title = 'Sign in' %>
<%= render 'shared/page_header', title: title, home: false %>

<div id="cta">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <div class="form-wrapper">
          <h4>Enter into your account now or <%= link_to 'sign up', new_registration_path(resource_name, params) %> for
            free</h4>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form', class: 'form-inline' }) do |f| %>
              <%=
                  if (return_to = params[:return_to])
                    f.hidden_field :return_to, value: return_to
                  end
              %>
              <label>Sign in with</label>
              <%= f.check_box :remember_me, style: 'display:none', value: '1', checked: 'checked' %>
              <%= f.button class: 'button button-small', name: 'with', value: 'google' do %>
                  <i class="fa fa-google"></i> Google
              <% end %>
              <%= f.button class: 'button button-small', name: 'with', value: 'facebook' do %>
                  <i class="fa fa-facebook"></i> Facebook
              <% end %>
          <% end %>
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form', class: 'form-inline' }) do |f| %>
              <label style="padding-right: 10px">or</label>

              <div class="form-group">
                <%= f.email_field :email, class: 'form-control', :placeholder => 'Email' %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, class: 'form-control', :placeholder => 'Password' %>
              </div>
              <%=
                  if (return_to = params[:return_to])
                    f.hidden_field :return_to, value: return_to
                  end
              %>
              <%= f.check_box :remember_me, style: 'display:none', value: '1', checked: 'checked' %>
              <%= f.submit 'Sign in', :class => 'button button-small' %>
          <% end %>
        </div>
        <div>
          <%= link_to "Forgot password?", new_password_path(resource_name), class: 'pull-left' %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Google Code for CenitSaaS new user Conversion Page -->
<script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 946349475;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "p4RlCNb4vF4Qo8ugwwM";
  var google_remarketing_only = false;
  /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/946349475/?label=p4RlCNb4vF4Qo8ugwwM&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>