<div id="home3" class="<%= controller_name %> <%= action_name %>">
<div class="st-container">
  
  <%= render 'shared/menu' %>
  
  <div class="st-pusher">
    <div class="st-content">

      <header class="navbar navbar-inverse hero" role="banner">
        <div class="container">
          <div class="navbar-header">
            <%= link_to 'Cenit SaaS', root_path , :class => 'navbar-brand' %>
          </div>
          <div class="sidebar-toggle">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
      </header>

      <div id="hero" class="hub">
        <div class="animated fadeIn">
          <div class="container">
            <h1 class="hero-text animated fadeIn">Cenit SaaS System Status</h1>
          </div>
        </div>
      </div>

      <%= render 'show', user: @user %>

      <div id="footer">
        <% render 'layouts/footer' %>
      </div>

    </div><!-- end .st-content -->
  </div><!-- end .st-pusher -->
</div><!-- end .st-container -->

<div id="home3" class="<%= controller_name %> <%= action_name %>">

<script>
    $(function () {
        // triggers the off-canvas panel
        $(".sidebar-toggle").click(function (e) {
            e.stopPropagation();
            $(".st-container").toggleClass("nav-effect");
        });
        $(".st-pusher").click(function () {
            $(".st-container").removeClass("nav-effect");
        });
        // parallax header
        $('#cover-image').css("background-position", "50% 50%");
        $(window).scroll(function() {
            var scroll = $(window).scrollTop(),
                    slowScroll = scroll/4,
                    slowBg = 50 - slowScroll;
            $('#cover-image').css("background-position", "50% " + slowBg + "%");
        });
    });
</script>

