<% title = 'Blog' %>
<%= render 'shared/page_header', title: title, home: false %>

<div id="blog">
  <div id="posts">
    <div class="container">
      <div class="row">
        <div class="col-md-9">

          <div class="post">
            <div class="video">
              <div class="iframe-wrapper">
                <iframe src="https://www.youtube.com/embed/elm9icrGDPw" width="620" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
            <div class="title">
              <%= link_to 'Screencast | Asana Integration on CenitSaaS', asana_integration_blog_index_path, data: { no_turbolink: true } %>
            </div>
            <div class="author">
              September 15, 2015
            </div>
            <p class="intro">
              Hello everyone, today we present the Asana integration available on our platform: CenitHub. Asana is a Free Project Management for Teams, designed to enable teamwork without email.
              <br />
              In the video, we will show how to install the Asana collection in our tenant, through the Shared Collection's Pull action.
            </p>
            <%= link_to 'Continue reading ...', asana_integration_blog_index_path, class: "continue-reading", data: { no_turbolink: true } %>
          </div>

          <div class="post">
            <div class="video">
              <div class="iframe-wrapper">
                <iframe src="https://www.youtube.com/embed/dp_QOh0F23Y" width="620" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
            <div class="title">
              <%= link_to 'Screencast | Mailchimp Integration on CenitSaaS', mailchimp_integration_blog_index_path, data: { no_turbolink: true } %>
            </div>
            <div class="author">
              September 4, 2015
            </div>
            <p class="intro">
              Today we present the MailChimp integration available on our platform CenitHub.
              <br />
              MailChimp is an email marketing service, helps businesses with their marketing newsletters, automated messages, and targeted campaigns.
              <br />
              In the video we will show how to install the collection MailChimp version 1.0 in our tenant of Cenithub, through the Shared Collection Pull action.
            </p>
            <%= link_to 'Continue reading ...', mailchimp_integration_blog_index_path, class: "continue-reading", data: { no_turbolink: true } %>
          </div>
          
          <div class="post">
            <div class="video">
              <div class="iframe-wrapper">
                <iframe src="https://www.youtube.com/embed/yGm3bGduNKw" width="620" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
            <div class="title">
              <%= link_to "Screencast | Part III: Using Cenit's Twitter Integration on Odoo", using_twitter_integration_on_odoo_blog_index_path, data: { no_turbolink: true } %>
            </div>
            <div class="author">
              September 2, 2015
            </div>
            <p class="intro">
              Hey there! Back for more? Good!
              <br />
              Welcome to the "Using Cenit's Twitter Integration" screencast.
              <br />
              This tutorial shows how to post a Tweet whenever you create a new product on your Odoo system. It assumes you have already installed Cenit's Twitter Integration addon correctly.
            </p>
            <%= link_to 'Continue reading ...', using_twitter_integration_on_odoo_blog_index_path, class: "continue-reading", data: { no_turbolink: true } %>
          </div>

          <div class="post">
            <div class="video">
              <div class="iframe-wrapper">
                <iframe src="https://www.youtube.com/embed/Fi6reIqO-E0" width="620" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
            <div class="title">
              <%= link_to "Screencast | Part II: Installing Cenit's Twitter Integration on Odoo", installing_twitter_integration_on_odoo_blog_index_path, data: { no_turbolink: true } %>
            </div>
            <div class="author">
              September 2, 2015
            </div>
            <p class="intro">
              Hi again! We're back, this time introducing the "Installing Cenit's Twitter Integration" screencast.
              <br />
              This tutorial assumes you have already installed the Cenit Integrations Client (that one has a screencast of its own); if not, don't worry, it will be installed for you (you should check its screencast though).
            </p>
            <%= link_to 'Continue reading ...', installing_twitter_integration_on_odoo_blog_index_path, class: "continue-reading", data: { no_turbolink: true } %>
          </div>

          <div class="post">
            <div class="video">
              <div class="iframe-wrapper">
                <iframe src="https://www.youtube.com/embed/Xz7c1k0ZL_k" width="620" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
            <div class="title">
              <%= link_to "Screencast | Part I: Cenit Integrations Client on Odoo", cenit_integration_client_on_odoo_blog_index_path, data: { no_turbolink: true } %>
            </div>
            <div class="author">
              September 1, 2015
            </div>
            <p class="intro">
              Hello everyone and welcome to the "Installing the Cenit Integrations Client" screencast!
              <br />
              As you can see, this tutorial is performed on a local Odoo 8.0 system with demo data enabled. This means that the Cenit Integrations Clients can be installed in your local Odoo 8.0 as well.
            </p>
            <%= link_to 'Continue reading ...', cenit_integration_client_on_odoo_blog_index_path, class: "continue-reading", data: { no_turbolink: true } %>
          </div>

          <div class="post">
            <div class="video">
              <div class="iframe-wrapper">
                <iframe src="https://www.youtube.com/embed/E90R31im3i0" width="620" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
            <div class="title">
              <%= link_to 'Screencast | Shipwire Integration on CenitSaaS', shipwire_integration_blog_index_path, data: { no_turbolink: true } %>
            </div>
            <div class="author">
              August 31, 2015
            </div>
            <p class="intro">
              Hi, the next video is about Shipwire integration in Cenit-Hub with which is a storage company and fulfillment. (Is an eCommerce warehousing and order fulfillment company)
              <br />
              First we will see how to make a pull to the shared cenit’s coleccion for Shipwire. Then some schemas, API data types, as well as webhook associated. Finally some flow examples  of integrations with Shipwire
            </p>
            <%= link_to 'Continue reading ...', shipwire_integration_blog_index_path, class: "continue-reading", data: { no_turbolink: true } %>
          </div>

          <div class="post">
            <%= link_to first_anniversary_blog_index_path, class: "pic" do %>
              <%= image_tag 'blog/first_anniversary.png', :alt => 'commits first year', class: "img-responsive" %>
            <% end %>

            <div class="title">
              <%= link_to 'CenitSaaS - 1 year since kick off', first_anniversary_blog_index_path, data: { no_turbolink: true } %>
            </div>
            <div class="author">
              <%= image_tag 'testimonials/sancho.jpg', :alt => 'author', class: "avatar" %>
              By Miguel Sancho, May 15, 2015
            </div>
            <p class="intro">
              Now we are close to celebrate our first anniversary next Jun 1st. At that time, there have been 
              hard work, long hours of brainstorming and lots of valuable feedback from colleagues. Most of which added 
              some new functionality or fine-tuned some existing functionality at CenitSaaS. We've got a recap of our work 
              that want to share with you.
            </p>
            <%= link_to 'Continue reading ...', first_anniversary_blog_index_path, class: "continue-reading", data: { no_turbolink: true } %>
          </div>

        </div>
        <div class="col-md-3 sidebar">
          <div class="best-hits">
            <strong>Articles</strong>
            <%= link_to 'Screencast | Asana Integration on CenitSaaS', asana_integration_blog_index_path, data: { no_turbolink: true } %>
            <%= link_to 'Screencast | Mailchimp Integration on CenitSaaS', mailchimp_integration_blog_index_path, data: { no_turbolink: true } %>
            <%= link_to "Screencast | Part III: Using Cenit's Twitter Integration on Odoo", using_twitter_integration_on_odoo_blog_index_path, data: { no_turbolink: true } %>
            <%= link_to "Screencast | Part II: Installing Cenit's Twitter Integration on Odoo", installing_twitter_integration_on_odoo_blog_index_path, data: { no_turbolink: true } %>
            <%= link_to "Screencast | Part I: Cenit Integrations Client on Odoo", cenit_integration_client_on_odoo_blog_index_path, data: { no_turbolink: true } %>
            <%= link_to 'Screencast | Shipwire Integration on CenitSaaS', shipwire_integration_blog_index_path, data: { no_turbolink: true } %>
            <%= link_to 'CenitSaaS - 1 year since kick off', first_anniversary_blog_index_path, data: { no_turbolink: true } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

