<div id="blogpost">
  <div id="blogpost-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="main-pic">
            <%= image_tag 'blog/first_anniversary.png', :alt => 'commits first year', class: "img-responsive" %>
          </div>          
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 post">
          <div class="title">
            CenitSaaS - 1 year since kick off
          </div>
          <div class="author">
            <%= image_tag 'testimonials/sancho.jpg', :alt => 'author', class: "avatar" %>
            By Miguel Sancho, May 15, 2015
          </div>
          <div class="content">
            <p>
              Now we are close to celebrate our first anniversary next Jun 1st. During that time, there have been hard work, long hours of brainstorming and lots of valuable feedback from colleagues. Most of which added some new features or fine-tuned some existing functionality at CenitSaaS. We've got a recap of our work that want to share with you.
            </p>
            <p>
              As my co-founder Cesar and I tend to do, we found ourself chatting ideas back and forth during a hard work week in May 2014. And thus the original idea for Cenit was born, a new proposal to integrate and exchange business data for a complete operational back-office automation using open source, social and community friendly approach.
            </p>
            <p>
              A common story for companies is the blending of solutions around its core business value. Features developed by them, third-party's adaptations and others SaaS to facilitate operations.
            </p>
            <p>
              Once grown enough a new expansion requires a huge integration effort. But available integration solutions are heavy process. Some of them also need B2B transactions using complex EDI standards required for large companies and business sectors. These facts overkill many companies that can't overcome those challenges.
            </p>
            <p>
              The most difficult thing during this time was try to find the right abstractions. A design that provides powerful yet simple abstractions, making this complex problem tractable.
            </p>
            <blockquote>
              <p>
                “TO HAVE POWERFUL ENOUGH ABSTRACTIONS (THE RIGHT ONES) TO MAKE IT POSSIBLE TO MODEL YOUR PATH TO PRODUCTION 
                EFFECTIVELY AND, IMPORTANTLY, REMODEL IT AS YOU LEARN AND EVOLVE IT OVER TIME WHILE, AT THE SAME TIME, RESIST 
                THE TEMPTATION TO CONTINUOUSLY INTRODUCE NEW, UNNECESSARY ABSTRACTIONS THAT ARE ONLY GOING TO MAKE THINGS MORE 
                DIFFICULT IN THE LONG RUN BECAUSE THEY WILL BE LEAKY”
              </p>
            </blockquote>
            <p>
              But now all is easier, the good news is that our team can build a simple SaaS application that automates the dull parts of someone's job. 
            </p>
            </p>
              Just now, finding customers as an early startup is one of the hardest tasks around. And it's harder when we don't have tens of thousands of twitter followers, a trendy blog, or a huge email list. 
            </p>
            <p>
              This post run you as one of the basic things we can do to get early customers when we aren't well-know. So this is the first 
              of many post in our blog, see you folks!
            </p>
            <div class="main-pic">
              <%= image_tag 'team/sancho.jpg', :alt => 'commits first year', class: "img-rounded img-responsive", style: 'float: left;' %>
              <div style='float: left;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
              <%= image_tag 'team/cesar.jpg', :alt => 'commits first year', class: "img-rounded img-responsive", style: 'float: left;' %>
              <div style='float: left;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
              <%= image_tag 'team/maikel.jpg', :alt => 'commits first year', class: "img-rounded img-responsive", style: 'float: left;' %>
              <div style='float: left;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
              <%= image_tag 'team/raul.jpg', :alt => 'commits first year', class: "img-rounded img-responsive", style: 'float: left;' %>
              <div style='float: left;'>&nbsp;&nbsp;&nbsp;&nbsp;</div>
              <div class='clearfix'></div>
              <%= image_tag 'team/asnioby.jpg', :alt => 'commits first year', class: "img-rounded img-responsive", style: 'float: left;' %>
              <div style='float: left;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
              <%= image_tag 'team/daniel.jpg', :alt => 'commits first year', class: "img-rounded img-responsive", style: 'float: left;' %>
              <div style='float: left;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
              <%= image_tag 'team/yeni.jpg', :alt => 'commits first year', class: "img-rounded img-responsive", style: 'float: left;' %>
              <div style='float: left;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
              <%= image_tag 'team/diana.jpg', :alt => 'commits first year', class: "img-rounded img-responsive", style: 'float: left;' %>
              <div style='float: left;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
              <div class='clearfix'></div>
            </div>

            <p>
              We believe in sharing what we learn. We are passioned team who love challenges and focus on helping software industry improve.
            </p>
          </div>        
        </div>
      </div>
    </div>
  </div>
</div>
