<% title = 'Blog' %>
<%= render 'shared/page_header', title: title, home: false %>

<div id="blog">
  <div id="posts">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">

          <div class="post">
            <%= link_to gmail_cenit_collection_blog_index_path, class: "pic" do %>
                <%= image_tag 'blog/gmail_cenit_collection.png', :alt => 'gmail google apis', class: "img-responsive" %>
            <% end %>

            <div class="title">
              <%= link_to 'The easy way to connect with the Gmail API', gmail_cenit_collection_blog_index_path, data: { no_turbolink: true } %>
            </div>
            <div class="author">
              <%= image_tag 'team/maikel.jpg', :alt => 'author', class: "avatar" %>
              By Maikel Arcia, Mar 3, 2016
            </div>
            <p>
              We have recently brought the set of
              <%=
                  link_to 'API collections to connect with the Google services', cenit_api_collections_for_google_services_blog_index_path, data: { no_turbolink: true }
              %>, to let you access an entire API through a single authorization point, with an offline
              and background running logic for the automatic management of the OAuth 2.0 protocol implementation
              provided by Google. Now the Gmail Cenit Collection is available, a wrapper that let you send emails as easy as it can be,
              so you do not have to run the awkward way of interacting with the API anymore.
              Try it now by following the next steps by yourself, signing up for free in CenitSaaS.
            </p>
            <%= link_to 'Continue reading ...', gmail_cenit_collection_blog_index_path, class: "continue-reading", data: { no_turbolink: true } %>
          </div>

          <div class="post">
            <%= link_to multi_channel_messaging_blog_index_path, class: "pic" do %>
                <%= image_tag 'blog/multichannel/header.png', :alt => 'multi-channel messaging', class: "img-responsive" %>
            <% end %>

            <div class="title">
              <%= link_to 'Multi-Channel Messaging with Cenit', multi_channel_messaging_blog_index_path, data: { no_turbolink: true } %>
            </div>
            <div class="author">
              <%= image_tag 'team/maria_esther.jpg', :alt => 'author', class: "avatar" %>
              By Maria Esther Guirola, Mar 1, 2016
            </div>
            <p class="intro">
              In this post we are going to see how we can send messages to different channels through Cenit. We'll see how Cenit manage different authentication modes like basic authentication, Oauth 1.0 and Oauth 2.0.
            </p>
            <%= link_to 'Continue reading ...', multi_channel_messaging_blog_index_path, data: { no_turbolink: true } %>
          </div>

          <div class="post">
            <%= link_to cenit_api_collections_for_google_services_blog_index_path, class: "pic" do %>
                <%= image_tag 'blog/cenit_google_api_collection.png', :alt => 'google apis', class: "img-responsive" %>
            <% end %>

            <div class="title">
              <%= link_to 'Cenit API Collections for Google Services', cenit_api_collections_for_google_services_blog_index_path, data: { no_turbolink: true } %>
            </div>
            <div class="author">
              <%= image_tag 'team/maikel.jpg', :alt => 'author', class: "avatar" %>
              By Maikel Arcia, Jan 28, 2016
            </div>
            <p class="intro">
              Now there are available on CenitHub over 80 API collections to
              connect with the Google services that can be used to integrate with
              any solution. With Cenit you can have full access to an entire API through a
              single authorization point and customize responses actions to fit
              your needs. There are over 200 APIs specifications on the API Guru
              repository, we are working on to bring them to Cenit users, so follows
              us to get updated about that. You can try it for free following instructions in these post.
            </p>
            <%= link_to 'Continue reading ...', cenit_api_collections_for_google_services_blog_index_path, class: "continue-reading", data: { no_turbolink: true } %>
          </div>

          <div class="post">
            <div class="video">
              <div class="iframe-wrapper">
                <iframe src="https://www.youtube.com/embed/elm9icrGDPw" width="620" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
            <div class="title">
              <%= link_to 'Screencast | Asana Integration on CenitSaaS', asana_integration_blog_index_path, data: { no_turbolink: true } %>
            </div>
            <div class="author">
              September 15, 2015
            </div>
            <p class="intro">
              Hello everyone, today we present the Asana integration available on our platform: CenitHub. Asana is a Free Project Management for Teams, designed to enable teamwork without email.
              <br />
              In the video, we will show how to install the Asana collection in our tenant, through the Shared Collection's Pull action.
            </p>
            <%= link_to 'Continue reading ...', asana_integration_blog_index_path, class: "continue-reading", data: { no_turbolink: true } %>
          </div>

          <div class="post">
            <div class="video">
              <div class="iframe-wrapper">
                <iframe src="https://www.youtube.com/embed/dp_QOh0F23Y" width="620" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
            <div class="title">
              <%= link_to 'Screencast | Mailchimp Integration on CenitSaaS', mailchimp_integration_blog_index_path, data: { no_turbolink: true } %>
            </div>
            <div class="author">
              September 4, 2015
            </div>
            <p class="intro">
              Today we present the MailChimp integration available on our platform CenitHub.
              <br />
              MailChimp is an email marketing service, helps businesses with their marketing newsletters, automated messages, and targeted campaigns.
              <br />
              In the video we will show how to install the collection MailChimp version 1.0 in our tenant of Cenithub, through the Shared Collection Pull action.
            </p>
            <%= link_to 'Continue reading ...', mailchimp_integration_blog_index_path, class: "continue-reading", data: { no_turbolink: true } %>
          </div>
          
          <div class="post">
            <div class="video">
              <div class="iframe-wrapper">
                <iframe src="https://www.youtube.com/embed/yGm3bGduNKw" width="620" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
            <div class="title">
              <%= link_to "Screencast | Part III: Using Cenit's Twitter Integration on Odoo", using_twitter_integration_on_odoo_blog_index_path, data: { no_turbolink: true } %>
            </div>
            <div class="author">
              September 2, 2015
            </div>
            <p class="intro">
              Hey there! Back for more? Good!
              <br />
              Welcome to the "Using Cenit's Twitter Integration" screencast.
              <br />
              This tutorial shows how to post a Tweet whenever you create a new product on your Odoo system. It assumes you have already installed Cenit's Twitter Integration addon correctly.
            </p>
            <%= link_to 'Continue reading ...', using_twitter_integration_on_odoo_blog_index_path, class: "continue-reading", data: { no_turbolink: true } %>
          </div>

          <div class="post">
            <div class="video">
              <div class="iframe-wrapper">
                <iframe src="https://www.youtube.com/embed/Fi6reIqO-E0" width="620" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
            <div class="title">
              <%= link_to "Screencast | Part II: Installing Cenit's Twitter Integration on Odoo", installing_twitter_integration_on_odoo_blog_index_path, data: { no_turbolink: true } %>
            </div>
            <div class="author">
              September 2, 2015
            </div>
            <p class="intro">
              Hi again! We're back, this time introducing the "Installing Cenit's Twitter Integration" screencast.
              <br />
              This tutorial assumes you have already installed the Cenit Integrations Client (that one has a screencast of its own); if not, don't worry, it will be installed for you (you should check its screencast though).
            </p>
            <%= link_to 'Continue reading ...', installing_twitter_integration_on_odoo_blog_index_path, class: "continue-reading", data: { no_turbolink: true } %>
          </div>

          <div class="post">
            <div class="video">
              <div class="iframe-wrapper">
                <iframe src="https://www.youtube.com/embed/Xz7c1k0ZL_k" width="620" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
            <div class="title">
              <%= link_to "Screencast | Part I: Cenit Integrations Client on Odoo", cenit_integration_client_on_odoo_blog_index_path, data: { no_turbolink: true } %>
            </div>
            <div class="author">
              September 1, 2015
            </div>
            <p class="intro">
              Hello everyone and welcome to the "Installing the Cenit Integrations Client" screencast!
              <br />
              As you can see, this tutorial is performed on a local Odoo 8.0 system with demo data enabled. This means that the Cenit Integrations Clients can be installed in your local Odoo 8.0 as well.
            </p>
            <%= link_to 'Continue reading ...', cenit_integration_client_on_odoo_blog_index_path, class: "continue-reading", data: { no_turbolink: true } %>
          </div>

          <div class="post">
            <div class="video">
              <div class="iframe-wrapper">
                <iframe src="https://www.youtube.com/embed/E90R31im3i0" width="620" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
            <div class="title">
              <%= link_to 'Screencast | Shipwire Integration on CenitSaaS', shipwire_integration_blog_index_path, data: { no_turbolink: true } %>
            </div>
            <div class="author">
              August 31, 2015
            </div>
            <p class="intro">
              Hi, the next video is about Shipwire integration in Cenit-Hub with which is a storage company and fulfillment. (Is an eCommerce warehousing and order fulfillment company)
              <br />
              First we will see how to make a pull to the shared cenit’s coleccion for Shipwire. Then some schemas, API data types, as well as webhook associated. Finally some flow examples  of integrations with Shipwire
            </p>
            <%= link_to 'Continue reading ...', shipwire_integration_blog_index_path, class: "continue-reading", data: { no_turbolink: true } %>
          </div>

          <div class="post">
            <%= link_to first_anniversary_blog_index_path, class: "pic" do %>
              <%= image_tag 'blog/first_anniversary.png', :alt => 'commits first year', class: "img-responsive" %>
            <% end %>

            <div class="title">
              <%= link_to 'CenitSaaS - 1 year since kick off', first_anniversary_blog_index_path, data: { no_turbolink: true } %>
            </div>
            <div class="author">
              <%= image_tag 'testimonials/sancho.jpg', :alt => 'author', class: "avatar" %>
              By Miguel Sancho, May 15, 2015
            </div>
            <p class="intro">
              Now we are close to celebrate our first anniversary next Jun 1st. At that time, there have been 
              hard work, long hours of brainstorming and lots of valuable feedback from colleagues. Most of which added 
              some new functionality or fine-tuned some existing functionality at CenitSaaS. We've got a recap of our work 
              that want to share with you.
            </p>
            <%= link_to 'Continue reading ...', first_anniversary_blog_index_path, class: "continue-reading", data: { no_turbolink: true } %>
          </div>

        </div>
        <%= render 'menu' %>
      </div>
    </div>
  </div>
</div>

