<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Cenit Hub Saas" %></title>

    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>React - Bootstrap Theme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%= # stylesheet_link_tag "application", :media => "all" 
    %>
    <%= # javascript_include_tag "application" 
    %>
    
    <!-- stylesheets -->
    <%= stylesheet_link_tag 'compiled/theme' %>
    <%= stylesheet_link_tag 'vendor/font-awesome' %>
    <%= stylesheet_link_tag 'vendor/animate' %>

    <!-- javascript -->
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'bootstrap/bootstrap.min'  %>
    <%= javascript_include_tag 'theme'  %>
    <%= javascript_include_tag :defaults %>
    
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body id='home3' class="<%= controller_name %> <%= action_name %>">
    <%= yield %>
  </body>
</html>