<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Cenit Hub Saas" %></title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="home3">
      <div class="st-container">
        <%= render 'shared/menu' %>
        <div class="st-pusher">
          <div class="st-content">
            <%= render 'layouts/header'%>
            <%= yield %>
            <%= render 'layouts/footer' %>
            <%= render 'shared/contact_us' %>
            
          </div><!-- end .st-content -->
        </div><!-- end .st-pusher -->
      </div><!-- end .st-container -->
      
    </div>
  </body>
</html>
